<html>
<head>
    <title>Dashboard</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/gridster/jquery.gridster.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="" id="themestyle">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">

</head>
<body>


<!-- ====== HEADER ======  -->
<div class="header_container">
<div class="header">

    <div class="page_title"><b>DASHBOARD</b></div>

    <div class="right_containter">
        <label class="hand" for="iframe-cover-switch" title="Allows dragging a widget by its content, iframe won't steal the mouse events.">Re-arranging mode:</label>
        <input id="iframe-cover-switch" name="iframe-cover-switch" class="check hand" type="checkbox" value="1">
        <label for="iframe-cover-switch" title="Allows dragging a widget by its content, iframe won't steal the mouse events." class="icon hand"></label>
        &nbsp; &nbsp; | &nbsp; &nbsp; 
        <input type="button" id="btn_hide_titlebars" value="Show/Hide titlebars"></input>
        &nbsp; &nbsp; | &nbsp; &nbsp; 
        <input type="button" id="btn_save" value="Save the dashboard"></input>
        <span class="saving">Saving...</span>
        <span class="saved">Saved</span>
        &nbsp; &nbsp; | &nbsp; &nbsp; 
        <input type="button" id="add_widget" value="Add new widget"></input>
    </div>

    <div style="clear: both;"></div>

</div><!-- .header -->
</div><!-- .header_container -->


<!-- ====== GRIDSTER ELEMENT ======  -->
<div class="gridster">
    <div id="grid_parent" style="position: absolute; z-index: -1; width: 100%; height: 100%; overflow: hidden;"> </div>
    <ul></ul>
</div>


{% if not exists %}
<!-- ====== DIALOG TO CREATE NEW DASHBOARD ======  -->
<div id="dialog_new_dashboard" title="The dashboard &quot;{{ name }}&quot; doesn't exist!">
<br>
<button id="btn_close_dialog" style="width: 420px; height: 100px;" type="button"><b>Yes, please create the dashboard</b></button>
<br><br>
...or you can change the name in the page URL.
</div>
{% endif %}


<!-- ====== TEMPLATE of WIDGET SETTINGS DIALOG ======  -->
<script type="text/x-underscore" id="widget_settings">
<div id="settings-dialog">
    <label for="settings-title">Title:</label><input type="text" name="settings-title" value="<%= title %>" id="settings-title">
    <br>
    <label for="settings-url">URL:</label><input type="text" name="settings-url" value="<%= url %>" id="settings-url">
    <br>
    <label for="settings-refresh">Refresh interval</label>
    <select name="settings-refresh" id="settings-refresh">
        <option value="disabled" <% if( refresh == "disabled" ){ print('selected')};  %>>Disabled</option>
        <option value="10"       <% if( refresh == "10"       ){ print('selected')};  %>>10 minutes</option>
        <option value="30"       <% if( refresh == "30"       ){ print('selected')};  %>>30 minutes</option>
        <option value="60"       <% if( refresh == "60"       ){ print('selected')};  %>>1 hour</option>
        <option value="120"      <% if( refresh == "120"      ){ print('selected')};  %>>2 hours</option>
    </select>
</div>
</script>


<!-- ====== TEMPLATE of a WIDGET ======  -->
<script type="text/x-underscore" id="widget_template">

    <li class="widget" minimized="<%= minimized %>" 
                       maximized-sizey="<%= maximized_sizey %>" 
                       title="<%= title %>">
        <span class="titlebar">
            <div class="title"><%= title %></div>

            <div class="titlebar_item remover"     title="Close this widget"></div>
            <div class="titlebar_item scroll_lock" title="Show/hide scrollbars"></div>
            <div class="titlebar_item reloader"    title="Reload the content"></div>
            <div class="titlebar_item minimizer <%= minimizer_class %>" 
                                                   title="<%= minimizer_title %>"></div>
            <div class="titlebar_item urler"       title="Show/change the URL of this widget"></div>
        </span>
        <div class="widget_content">
            <div class="iframe_cover"></div>
            <iframe scrolling="<%= scrolling %>" src="<%= content %>"></iframe>
        </div>
    </li>
</script>



<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/gridster/jquery.gridster.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>
<script type="text/javascript">

$(function(){


	// Set behaviour of iframe_cover according to the settings
	function update_iframe_cover(){
		if ( $('#iframe-cover-switch').is(':checked') ){
			$(".iframe_cover").css('pointer-events', 'auto');
		} else {
			$(".iframe_cover").css('pointer-events', 'none');
		}
	}

	demo_serialization = [];

	{{  serialization|safe }}

	serialization = typeof serialization !== 'undefined' ? serialization : demo_serialization;

	dashboard = new Dashboard(".gridster > ul");

	dashboard.gridster.remove_all_widgets();
	$.each(serialization, function(index,item) {
		dashboard.add(item);
	});
	update_iframe_cover();

	function save_positions() {
		$('.saving').fadeIn( function(){
			var serialized_array = dashboard.gridster.serialize();
			serialized_string = "serialization = "+JSON.stringify(serialized_array)+";";
			$.get("{{ save_url }}", {serialization: serialized_string}, function(data){
				$('.saving').fadeOut(function(){
					$('.saved').fadeIn().delay(2000).fadeOut();
				});
			})
		});
	}

	$('#btn_save').click( save_positions );

	$('#btn_hide_titlebars').click( function(){
		hidden = $('#btn_hide_titlebars').data('hidden');
		if (hidden != "true") {
			$('.titlebar').hide();
			$('.widget').css('padding-top', '1px');
			$('#btn_hide_titlebars').data('hidden', "true");
		} else {
			$('.titlebar').show();
			$('.widget').css('padding-top', '22px');
			$('#btn_hide_titlebars').data('hidden', "false");
		}
	});

	$("#add_widget").click(function(){
		dashboard.invokeWidgetSettingsDialog(null);
	});

	// bind function to iframe_cover checkbox change event
	$('#iframe-cover-switch').change(update_iframe_cover);

	// Activation of iframe covers
	$('.gridster').on('gridster:resizestart', 'ul', function(){
		$(".iframe_cover").css('pointer-events', 'auto');
	});
	$('.gridster').on('gridster:resizestop', 'ul', function(){
		update_iframe_cover();
	});
	$('.gridster').on('gridster:dragstart', 'ul', function(){
		$(".iframe_cover").css('pointer-events', 'auto');
	});
	$('.gridster').on('gridster:dragstop', 'ul', function(){
		update_iframe_cover();
	});

	// Draw a grid under the gridster element
	for (i=0; i< 500; i++){
		$("#grid_parent").append("<div class=\"grid\"></div>");
	}

	$('.page_title').click(function(){
		$('#themestyle').attr('href', '/static/css/dark.css');
	});


{% if not exists %}
	$( "#dialog_new_dashboard" ).dialog({
		height: 235,
		width: 500,
		closeOnEscape: false,
		modal: true,
		position: { my: "center top", at: "center top+100px", of: window },
	});

	$( "#btn_close_dialog" ).click(function(){
		save_positions();
		$( "#dialog_new_dashboard" ).dialog("close");
	});
{% endif %}

});

</script>
</body>
</html>




